.trusted_clients{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.trusted_clients > h5{
    color: rgb(97, 97, 97);
    font-size: 25px;
    margin:50px auto;
    margin-bottom: 15px;
    font-weight: 600;
    font-family: var(--font);
    box-sizing: border-box;
    padding: 0px 10px;
}
.trusted_clients > .client_scroll_container{
    width: calc(100vw - 150px);
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    background-image: url(../../Assets/Images/trusted.png);
    background-size: cover;
    background-position-x: calc(100vw - 150px);
    background-repeat: repeat-x;
    background-attachment: scroll;
    animation-name: marq;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    }
.client_scroll_container > div{
    background-image:linear-gradient(to right,rgba(255, 255, 255) 0% ,rgb(255, 255, 255,0) 20%,rgb(255, 255, 255,0) 80%,rgba(255, 255, 255));
    width: 100%;
    height: 100%;
}
@keyframes marq {
    0%{background-position-x: 0;}
    
    
    
}
.client_scroll_container::-webkit-scrollbar{
    width: 0;
}
.trusted_clients > .deal_of_the_day{
    width: calc(100vw - 150px);
    margin: auto ;
    background-image:linear-gradient(to right,#e4e9feaa,#b2cbfec1);
    height:fit-content;
    margin-bottom: 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
}
@media screen and (max-width:650px) {
    .trusted_clients > .deal_of_the_day{
        flex-direction: column;
        width: calc(100vw - 40px);
    }
    .trusted_clients > .client_scroll_container{
        width: calc(100vw - 40px);
        background-position-x: calc(100px * 12.18);
    }
    .client_scroll_container > img{
        
        height: 100px;
    }
    .trusted_clients > h5{
        font-size: 22px;
    }
}